@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cherry+Swash:400,700);

html, body { /* Setting a height of 100% forces the browser to calculate the height of the browser window. This is done to push the footer to the bottom of screen when the content of the page is not long enough to fill the screen. This a totally stylistic application and does not otherwise affect the loading or display of the page. If this styling fails the only repurcussion will be that the footer will not display at the bottom of the screen on shorter pages. */
	height: 100%; 
}
body {
	line-height: 1.4;
	font-size: 100%;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 400;
	width: 100%;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding-top: 17px;
	padding-right: 17px;
	padding-left: 17px;
	padding-bottom: 17px;
	margin: 0;
}

h1,h2{
	font-family: 'Cherry Swash', cursive;
	margin-top: 0px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0.5em;
	padding-left: 25px;
	padding-right: 15px;
	font-style: normal;
	font-weight: 400;	/*font-size:14px;*/
	font-size:30px;
}
 h3, h5, h6, p , blockquote{
	margin-top: 0px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0.5em;
	padding-left: 20px;
	padding-right: 20px;
	font-style: normal;
	font-weight: 400;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 20px;
	color:#754c24;
}

h4{
	font-size:36px;
	color:	#754c24;
	font-family: 'Cherry Swash', cursive;
}

li{
color:#93683e;	
}

ul{
list-style-type:disc;	
}
#top-menu {
	display: none;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	/* [disabled]color: #143D9D; */
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification. Change the color to match your company color standards. */
}
a:visited {
	/* [disabled]color: #566884; */
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	/* [disabled]color: rgba(67,144,255,1.00); */
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	/*background-color: #FFFFFF;*/
	margin-top: 0;
	margin-bottom: 0;
	min-height: 95%;
	/*margin: 0 auto -3em; /* the auto value on the sides, coupled with the width, centers the layout */
	margin-left: auto;
	overflow: auto;
	width: 100%;
	background-image: url(images/images/container_bg_02.gif), -webkit-linear-gradient(270deg,rgba(201,162,119,1.00) 0%,rgba(243,225,206,1.00) 100%);
	background-image: url(images/images/container_bg_02.gif), -moz-linear-gradient(270deg,rgba(201,162,119,1.00) 0%,rgba(243,225,206,1.00) 100%);
	background-image: url(images/images/container_bg_02.gif), -o-linear-gradient(270deg,rgba(201,162,119,1.00) 0%,rgba(243,225,206,1.00) 100%);
	background-image: url(images/images/container_bg_02.gif), linear-gradient(180deg,rgba(201,162,119,1.00) 0%,rgba(243,225,206,1.00) 100%);
	margin-right: auto;
	background-repeat: repeat-x;
	background-color: #8A4B4C;
}
header { /* ~~ The header is not given a width. It will extend the full width of your layout. The height is a different matter. The header features an h1 element and several background effects. Background images do not affect the height of an element automatically. The height must be set to support the dimensions of any background content. ~~ */
	position: relative;
	/*background-color: #090;*/
	height: 149px;
	/*color: #fff;*/
	/* [disabled]background-color: #090; */
	/* [disabled]background-image: url(../8_Navigation/images/fern.png) , url(../8_Navigation/images/stripe.png) , -webkit-linear-gradient(270deg,rgba(0,102,0,1.00) 0%,rgba(0,204,0,1.00) 100%); */
	/* [disabled]background-image: url(../8_Navigation/images/fern.png) , url(../8_Navigation/images/stripe.png) , linear-gradient(180deg,rgba(0,102,0,1.00) 0%,rgba(0,204,0,1.00) 100%); */
	background-image:url(images/words_03.png);
	background-repeat: no-repeat, repeat-x;
	background-size: auto 90%, auto auto, 100% auto;
	background-position: 47% center, left top, left top;
	max-width: 1023px;
}
header p {
	text-align: center;
	font-size: 120%;
	text-transform: uppercase;
	text-shadow: 0px 1px 7px rgba(0,0,0,0.90);
	letter-spacing: 0.5em;
	line-height: 0.5em;
	margin-top: 2em;
}
header h2 { /* The header features an h1 element. The company name could also be added to the background image itself, but then it would not be accessible to search engines. */
	font-size: 400%;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: #0f0;
	line-height: 1.2em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: baseline;
	padding-top: 0.75em;
	text-shadow: 0px 0px 30px rgba(0,0,0,0.75);
}
.top { /* Nav elements may be used in several places on the page. Create a custom CSS class such as this one for each unique application of a navigation menu. */
	/*border-top-style: solid;*/
	padding-top:0.3em;
	align:left;
	border-top-width: 5px;
	border-bottom-style: none;
	border-bottom-width: medium;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	margin-bottom: 25px;
	text-align: center;
	overflow: auto;
	width: 100%;
}
.top ul {/* The navigation menu is centered in the nav element. To center the menu the left and right margins of the ul are set to auto and the width is set to a fixed measurement. Furthermore, the width of the ul must be at least equal to or greater than the sum of the widths of all its children, plus borders, margins and padding. If you insert additional menu items don't forget to increase the width accordingly.*/
	list-style: none;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 57em;
}
.top ul li {/* There is no width, margin or padding applied to the li element. When an element is floated its width and height will collapse to the extents of its contents. These specifications will be applied to the a element itself, to allow the entire button to be clickable.  */
	margin: 0px;
	list-style: none;
	/*border-top: 1px solid #0AE;*/
	border-right: 1px solid #024;
	border-bottom: 1px solid #024;
	border-left: 1px solid #0AE;
	float: left;
	display: block;
	overflow: auto;
}
.top ul li a:link  , .top ul li a:visited{/* Normally, hyperlinks are inline elements and are only as wide and as tall as the content of the link. To make the entire button an active link the width of each link is set in ems on the "a" tag itself. Since the li element is floated it will automatically collapse to the width and height of its contents. By using ems the width will scale automatically with the font size preventing the button from breaking. By placing the width and padding on the a element the hyperlink behavior is automatically inherited by the entire visible button. This effect is also assisted by applying a block specification. */
	padding-right: 0.5em;
	padding-left: 0.5em;
	color: #FFC;
	text-decoration: none;
	vertical-align: middle;
	height: auto;
	display: block;
	width: 7em;
	line-height: 3em;
}
.top ul li a:hover {
	color: #fff;
}
.main  {
	width: 1141px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	overflow: auto;
	max-width: 1074px;
	align: left;
}



.main aside {
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 5px solid #754C24;
	border-bottom: 5px solid #754C24;
	font-size: 95%;
	float: left;
}
.main aside blockquote {
	padding: 20px;
	
}
.main li{
	font-size: 20px;
	float: none;
	margin-left: 71px;
}
aside blockquote cite {
	display: block;
	font-size: 14px;
	text-align: right;
	font-style: italic;
}
/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the block elements. The elements within these blocks have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the block itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the block element and place a second block element within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a block set to float right). Many times, padding can be used instead. For blocks where this rule must be broken, you should add a "display:inline" declaration to the block element's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar blocks could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the left instead of the right, simply float these columns the opposite direction (all left instead of all right) and they'll render in reverse order. There's no need to move the blocks around in the HTML source.

*/
.sidebar1 {
	float: left;
	width: 278px;
	border-radius: 0;
	position: relative;
	overflow: auto;
	padding-right: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
}

.sidebar1 p{
	font-size:20px;	
}
.center h1 ul li{
	float:inherit;
	padding-left:50px;	
	font-size:36px;
	align-content:center; 
	float:left;
	
}
    
.content {
	width: 37em;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	overflow: auto;
	margin-bottom: 20px;
	align:left;
}
.content h1 {
	font-family: patua-one;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 0px;
	font-size: 40px;
	line-height: 1.4em;
	float: left;
}
h1{
	font-size:60px;
	color:#f9d9e7;
}

h2{
	color:#f9d9e7;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the block elements. The elements within these blocks have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the block itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the block element and place a second block element within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a block set to float right). Many times, padding can be used instead. For blocks where this rule must be broken, you should add a "display:inline" declaration to the block element's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar blocks could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

*/

p{
	font-size:18px;	
}
.sidebar2 {
	width: 200px;
	float: left;
	overflow: auto;
    border-radius: 0;
}
.sidebar2 section h2 {
	margin-bottom: 5px;
	font-size: 130%;
	line-height: 1.4em;
	font-weight: 700;
}

/* ~~ The footer ~~ */
footer {
	padding-top: 10px;
	padding-right: 10%;
	padding-bottom: 10px;
	padding-left: 10%;
	background-color: #754c24;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	color: #f9d9e7;
	font-size: 95%;
	text-align: center;
	height: 5%;
}
footer, .push {	/* This rule helps to position the footer at the bottom of the browser window when the page content does not fill the entire height. */
	min-height:1em; 
}
	
header, section, footer, aside, article, figure { /*This rule is an accommodation for older browser that may not understand HTML5 semantic elements. This rule should remain at the bottom of the style sheeet. */
	display: block;
}
.logo-white {
	color: #fff;
}
#wrapper {
}
section #div1 ul {
}
section #div1 ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

/* Vertical Accordion Style */
.va-container{
	position:relative;
	margin:40px auto 0 auto;
}
.va-wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:#000;
}
.va-slice{
	cursor:pointer;
	position:absolute;
	width:100%;
	left:0px;
	overflow:hidden;
}
.va-slice-1{
	background:#000 url(images/cakes/cake_panel.jpg) no-repeat center center;
}
.va-slice-2{
	background:#000 url(images/pies/pie_panel.jpg) no-repeat center center;
}
.va-slice-3{
	background:#000 url(images/cupcakes/cupcake_panel.jpg) no-repeat center center;
}
.va-slice-4{
	background:#000 url(images/bubblies/bubblies_panel.jpg) no-repeat center center;
}
.va-slice-5{
	background:#000 url(images/5.jpg) no-repeat center center;
}
.va-slice-6{
	background:#000 url(images/6.jpg) no-repeat center center;
}
.va-slice-7{
	background:#000 url(images/7.jpg) no-repeat center center;
}
.va-slice-color-1{
	background-color:#97c5eb;
}
.va-slice-color-2{
	background-color:#68ace5;
}
.va-slice-color-3{
	background-color:#0072cf;
}
.va-slice-color-4{
	background-color:#0039a6;
}
.va-slice-color-5{
	background-color:#00338e;
}
.va-slice-color-6{
	background-color:#002c76;
}
.va-slice-color-7{
	background-color:#002144;
}
.va-title{
	
	text-transform:uppercase;
	font-size:60px;
	margin-left:20px;
	color:#754c24;
	font-family: 'Cherry Swash', cursive;
	/*text-shadow: 0px 0px 1px white;*/
}

.va-content{
	display:none;
	margin-left:25px;
	color:#523519;
}
.va-slice p{
	font-size: 22px;
	font-style: italic;
	font-family:Georgia, serif;
}
.va-slice ul{
	margin-top:20px;
}
.va-slice ul li{
	/*float:left;*/
	margin:0px 2px;
}
.va-slice ul li a{
	color:#000;
	background:#eede2f;
	padding:3px 6px;
	font-size:14px;
	font-family:'PT Sans', sans-serif;
	font-weight:800;
	text-transform:uppercase;
}
.va-slice ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
	
}
.va-nav span{
	width:40px;
	height:25px;
	background:transparent url(../images/prev.png) no-repeat center center;
	position:absolute;
	top:-35px;
	left:50%;
	margin-left:-20px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	display:none;
	z-index:100;
}
.va-nav span.va-nav-next{
	background-image:url(../images/next.png);
	top:auto;
	bottom:-35px;
}
.va-nav span:hover{
	opacity:1.0;
}

iframe{
	border: 30px double #754C24;
	float: left;
}
.li bubblies{
	float:none;	
}

ul{
	list-style-position: inside;	
}

.footer{
	color:#f9d9e7;	
}

.about{
	padding:0.1em;
	float:right;		
}

.about2{
	float:left;
	align:center;
	border-color:#f49ac1;
	border-style:double;	
}