.version.about_us /* version checker */
{
	color: #00001A;
	background-color: #FCD0A4;
}

.html
{
	background-color: #1DAFED;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu124-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u124-4
{
	z-index: 2;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 665px;
}

#u125-4
{
	z-index: 6;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 821px;
}

#u127-4
{
	z-index: 10;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 977px;
}

#u241
{
	z-index: 16;
	width: 1160px;
	margin-right: -10000px;
}

#u111
{
	z-index: 18;
	width: 115px;
	margin-right: -10000px;
}

#u310
{
	z-index: 20;
	width: 109px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 931px;
}

#u328
{
	z-index: 22;
	width: 130px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 733px;
}

#u340
{
	z-index: 24;
	width: 109px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 556px;
}

#tab-panelu782
{
	z-index: 26;
	width: 1163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u796
{
	z-index: 27;
	width: 1163px;
	position: relative;
}

#u797
{
	z-index: 28;
	width: 387px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #AF1BFF;
	padding-bottom: 91px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u797:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 387px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u800-3
{
	z-index: 29;
	width: 387px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 45px;
}

#u797:hover #u800-3
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u801
{
	z-index: 32;
	width: 387px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #AF1BFF;
	padding-bottom: 91px;
	position: relative;
	margin-right: -10000px;
	left: 387px;
	border-width: 1px 0px 1px 1px;
}

#u801:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 387px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u797.TabbedPanelsTabSelected,#u801.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #662D91;
	width: 387px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u804-3
{
	z-index: 33;
	width: 387px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 45px;
}

#u801:hover #u804-3
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u805
{
	z-index: 36;
	width: 387px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #AF1BFF;
	padding-bottom: 91px;
	position: relative;
	margin-right: -10000px;
	left: 774px;
}

#u805:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 387px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u805.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #662D91;
	width: 387px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u807-3
{
	z-index: 37;
	width: 387px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 46px;
}

#u805:hover #u807-3
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u797.TabbedPanelsTabSelected #u800-3,#u801.TabbedPanelsTabSelected #u804-3,#u805.TabbedPanelsTabSelected #u807-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u783
{
	z-index: 40;
	width: 1163px;
	position: relative;
}

#u788
{
	z-index: 41;
	width: 1163px;
	border-style: none;
	border-color: transparent;
	background-color: #662D91;
	padding-bottom: 67px;
	margin-right: -10000px;
	position: relative;
}

#pu1406
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 91px;
}

#u1406
{
	z-index: 70;
	width: 625px;
	position: relative;
}

#pu1383
{
	width: 0.01px;
	margin-top: 84px;
}

#u1383
{
	z-index: 58;
	width: 328px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1393
{
	z-index: 67;
	width: 98px;
	position: relative;
	margin-right: -10000px;
	left: 519px;
}

#u1404
{
	z-index: 69;
	width: 500px;
	min-height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
}

#u1398
{
	z-index: 72;
	width: 113px;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 455px;
}

#pu1415
{
	width: 0.01px;
	margin-top: 27px;
}

#u1415
{
	z-index: 76;
	width: 78px;
	position: relative;
	margin-right: -10000px;
}

#u1420
{
	z-index: 78;
	width: 136px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 412px;
}

#pu789-16
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 64px;
	margin-left: 738px;
}

#u789-16
{
	z-index: 42;
	width: 314px;
	min-height: 198px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u789-2
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
}

#u789
{
	font-family: irish-grover, sans-serif;
	font-weight: 700;
}

#u789-3
{
	line-height: 20px;
}

#u789-5,#u789-6,#u789-8,#u789-9,#u789-11,#u789-12,#u789-14
{
	text-align: center;
	line-height: 20px;
}

#u789-4,#u789-7,#u789-10,#u789-13
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u974-7
{
	z-index: 60;
	width: 269px;
	min-height: 153px;
	margin-left: 22px;
	margin-top: 112px;
	position: relative;
}

#u1412
{
	z-index: 74;
	width: 234px;
	margin-left: 67px;
	margin-top: 42px;
	position: relative;
}

#u784
{
	z-index: 80;
	width: 1072px;
	border-style: none;
	border-color: transparent;
	background-color: #662D91;
	padding-right: 91px;
	padding-bottom: 35.516131156973415px;
	margin-right: -10000px;
	position: relative;
}

#ppu943-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 649px;
}

#pu943-4
{
	width: 0.01px;
	margin-left: 59px;
}

#u943-4
{
	z-index: 94;
	width: 263px;
	min-height: 141px;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: irish-grover, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u944-4
{
	z-index: 98;
	width: 306px;
	min-height: 108px;
	text-align: left;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 6px;
}

#u1460
{
	z-index: 134;
	width: 86px;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#pu949-8
{
	width: 0.01px;
	margin-top: 43px;
}

#u949-8
{
	z-index: 102;
	width: 423px;
	min-height: 315px;
	position: relative;
	margin-right: -10000px;
}

#u974-2,#u949-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #FFFFFF;
	font-family: irish-grover, sans-serif;
	font-weight: 400;
}

#u949-6
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

#u1427
{
	z-index: 124;
	width: 169px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 226px;
}

#u787-6
{
	z-index: 81;
	width: 270px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 172px;
}

#u787-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u787-4
{
	line-height: 20px;
	color: #999999;
}

#u785
{
	z-index: 87;
	width: 634px;
	position: relative;
	margin-right: -10000px;
}

#u785_img
{
	padding-right: 3px;
	padding-bottom: 99px;
}

#u942-5
{
	z-index: 89;
	width: 329px;
	min-height: 28px;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 109px;
}

#u1425
{
	z-index: 123;
	width: 634px;
	min-height: 361px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
}

#ppu951-5
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: -1px;
}

#pu951-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
}

#u951-5
{
	z-index: 110;
	width: 278px;
	min-height: 157px;
	color: #FFFFFF;
	text-align: center;
	font-family: irish-grover, sans-serif;
	font-weight: 400;
	position: relative;
}

#u951-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u951
{
	font-size: 18px;
	line-height: 22px;
}

#u951-2
{
	line-height: 17px;
}

#u1452
{
	z-index: 130;
	width: 45px;
	margin-left: 203px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u1441
{
	z-index: 128;
	width: 214px;
	margin-left: 12px;
	margin-top: 5px;
	position: relative;
}

#pu1438
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 304px;
}

#u1438
{
	z-index: 126;
	width: 82px;
	margin-left: 336px;
	position: relative;
}

#u952-4
{
	z-index: 115;
	width: 408px;
	min-height: 345px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: irish-grover, sans-serif;
	font-weight: 400;
	position: relative;
}

#ppu953-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 743px;
}

#u953-4
{
	z-index: 119;
	width: 277px;
	min-height: 154px;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: irish-grover, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u1457
{
	z-index: 132;
	width: 159px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
}

#u1463
{
	z-index: 136;
	width: 209px;
	margin-left: 107px;
	margin-top: 31px;
	position: relative;
}

#u792
{
	z-index: 138;
	width: 1039px;
	border-style: none;
	border-color: transparent;
	background-color: #662D91;
	padding-left: 100px;
	padding-right: 24px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#pppu943-4,#pu953-4,#ppu793-10
{
	width: 0.01px;
}

#pu793-10
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 35px;
	margin-left: 619px;
}

#u793-10
{
	z-index: 145;
	width: 270px;
	min-height: 150px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u793-4
{
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u793-2,#u793-3
{
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: irish-grover, sans-serif;
	font-weight: 400;
}

#u793-5,#u793-8
{
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1490
{
	z-index: 195;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 211px;
}

#u1487
{
	z-index: 139;
	width: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 394px;
	left: 170px;
}

#u1484
{
	z-index: 141;
	width: 239px;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 334px;
}

#u794
{
	z-index: 155;
	width: 614px;
	position: relative;
	margin-right: -10000px;
}

#u794_img
{
	padding-right: 3px;
	padding-bottom: 50px;
}

#u954-6
{
	z-index: 157;
	width: 236px;
	min-height: 35px;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
}

#pu1481
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 3px;
}

#u1481
{
	z-index: 143;
	width: 173px;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 831px;
}

#u956-10
{
	z-index: 163;
	width: 920px;
	min-height: 156px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u957
{
	z-index: 173;
	width: 606px;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 342px;
}

#u340_img,#u1484_img,#u957_img
{
	padding-right: 1px;
}

#u963-10
{
	z-index: 175;
	width: 322px;
	min-height: 365px;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
}

#u974-5,#u942,#u793-7,#u963-2,#u963-3,#u963-5,#u963-6,#u963-7
{
	color: #FFFFFF;
}

#u1466
{
	z-index: 185;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	margin-top: 548px;
	left: 10px;
}

#u1469
{
	z-index: 187;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 302px;
}

#u1472
{
	z-index: 189;
	width: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 458px;
}

#u1475
{
	z-index: 191;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: 543px;
	left: 662px;
}

#u1478
{
	z-index: 193;
	width: 169px;
	position: relative;
	margin-right: -10000px;
	margin-top: 543px;
	left: 858px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u841
{
	z-index: 197;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 109px;
}

#u864
{
	z-index: 199;
	width: 168px;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 490px;
}

#u933
{
	z-index: 201;
	width: 144px;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 876px;
}

#u235
{
	z-index: 14;
	width: 1160px;
	margin-bottom: -44px;
	margin-right: -10000px;
	margin-top: 1434px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1434px;
}

