.version.contact_us /* version checker */
{
	color: #00000A;
	background-color: #C32A34;
}

.html
{
	background-color: #1DAFED;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#ppu984
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu984
{
	z-index: 28;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	margin-left: 100px;
}

#u984
{
	z-index: 0;
	width: 328px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu985-27
{
	width: 0.01px;
	padding-bottom: 193.29999999999905px;
	position: relative;
	left: 22px;
	padding-top: 108px;
	z-index: 2;
}

#u985-27
{
	z-index: 29;
	width: 292px;
	min-height: 266px;
	color: #FFFFFF;
	position: relative;
}

#u985,#u985-7,#u985-10,#u985-13,#u985-15,#u985-18,#u985-21
{
	color: #FFFFFF;
}

#pu1003
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 57px;
}

#u1003
{
	z-index: 65;
	width: 30px;
	position: relative;
	margin-right: -10000px;
}

#u997
{
	z-index: 63;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 42px;
}

#u991
{
	z-index: 61;
	width: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 86px;
}

#u124-4
{
	z-index: 2;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 665px;
}

#u125-4
{
	z-index: 6;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 821px;
}

#u127-4
{
	z-index: 10;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 977px;
}

#u241
{
	z-index: 16;
	width: 1160px;
	margin-right: -10000px;
}

#u111
{
	z-index: 18;
	width: 115px;
	margin-right: -10000px;
}

#u310
{
	z-index: 20;
	width: 109px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 931px;
}

#u328
{
	z-index: 22;
	width: 130px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 733px;
}

#u340
{
	z-index: 24;
	width: 109px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 556px;
}

#u340_img
{
	padding-right: 1px;
}

#u978
{
	z-index: 26;
	width: 632px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 428px;
}

#u978_clip
{
	overflow: hidden;
	width: 632px;
	height: 694px;
}

#u978_img
{
	margin-left: -211px;
	margin-right: -211px;
}

#u986
{
	z-index: 56;
	width: 115px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 492px;
	left: 123px;
}

#u987-4
{
	z-index: 57;
	width: 86px;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 15px;
}

#u235
{
	z-index: 14;
	width: 1160px;
	margin-bottom: -43px;
	margin-right: -10000px;
	margin-top: 756px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -755px;
}

