#u124-4,#u125-4,#u127-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	position: relative;
}

#u124,#u125,#u127
{
	font-size: 24px;
	color: #FFFFFF;
}

#u241,#u111,#u310,#u328,#u340,#u235
{
	position: relative;
}

