.version.products /* version checker */
{
	color: #00001A;
	background-color: #E728DD;
}

.html
{
	background-color: #1DAFED;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu124-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u124-4
{
	z-index: 2;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 665px;
}

#u125-4
{
	z-index: 6;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 821px;
}

#u127-4
{
	z-index: 10;
	width: 156px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 977px;
}

#u241
{
	z-index: 16;
	width: 1160px;
	margin-right: -10000px;
}

#u111
{
	z-index: 18;
	width: 115px;
	margin-right: -10000px;
}

#u310
{
	z-index: 20;
	width: 109px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 931px;
}

#u328
{
	z-index: 22;
	width: 130px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 733px;
}

#u340
{
	z-index: 24;
	width: 109px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 556px;
}

#u340_img
{
	padding-right: 1px;
}

#accordionu1119
{
	z-index: 26;
	width: 975px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 86px;
}

#u1128
{
	z-index: 27;
	width: 975px;
	position: relative;
}

#u1129-4
{
	z-index: 28;
	width: 963px;
	min-height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFADD;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #662D91;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1129-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 13px;
	width: 963px;
	margin: 0px;
}

#u1129-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 13px;
	width: 963px;
	margin: 0px;
}

#u1129-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #FFE310;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 964px;
	margin: 0px 1px 1px 0px;
}

#u1130
{
	z-index: 32;
	width: 940px;
	margin-left: 22px;
	margin-top: 38px;
	position: relative;
}

#u1131-7
{
	z-index: 33;
	width: 312px;
	min-height: 105px;
	color: #662D91;
	position: relative;
	margin-right: -10000px;
}

#pu1132
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 359px;
}

#u1132
{
	z-index: 40;
	width: 156px;
	position: relative;
	margin-right: -10000px;
}

#u1158-10
{
	z-index: 46;
	width: 153px;
	min-height: 140px;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
}

#pu1146
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 553px;
}

#u1146
{
	z-index: 42;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u1159-10
{
	z-index: 56;
	width: 131px;
	min-height: 161px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 35px;
}

#pu1152
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 760px;
}

#u1152
{
	z-index: 44;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u1160-10
{
	z-index: 66;
	width: 133px;
	min-height: 206px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 23px;
}

#u1120
{
	z-index: 76;
	width: 974px;
	margin-top: 177px;
	position: relative;
}

#u1123-4
{
	z-index: 77;
	width: 962px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFADD;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #662D91;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1123-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 962px;
	margin: 0px;
}

#u1123-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 962px;
	margin: 0px;
}

#u1123-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #FFE310;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 963px;
	margin: 0px 1px 1px 0px;
}

#u1123
{
	color: #662D91;
}

#u1121
{
	z-index: 81;
	width: 917px;
	margin-left: 22px;
	margin-top: 30px;
	margin-bottom: 63px;
	position: relative;
}

#u1122-7
{
	z-index: 82;
	width: 316px;
	min-height: 105px;
	color: #662D91;
	position: relative;
	margin-right: -10000px;
}

#u1161
{
	z-index: 89;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 370px;
}

#u1167
{
	z-index: 91;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 575px;
}

#u1191-12
{
	z-index: 95;
	width: 121px;
	min-height: 162px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 381px;
}

#u1192-10
{
	z-index: 107;
	width: 119px;
	min-height: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 598px;
}

#pu1185
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 779px;
}

#u1185
{
	z-index: 93;
	width: 131px;
	position: relative;
}

#u1193-10
{
	z-index: 117;
	width: 137px;
	min-height: 177px;
	margin-left: 1px;
	margin-top: 16px;
	position: relative;
}

#u1124
{
	z-index: 127;
	width: 974px;
	position: relative;
}

#u1127-4
{
	z-index: 128;
	width: 962px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFADD;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #662D91;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1127-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 962px;
	margin: 0px;
}

#u1127-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 962px;
	margin: 0px;
}

#u1127-4.AccordionPanelTabOpen
{
	background-color: #FFE310;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 962px;
	margin: 0px;
}

#u1129-4.AccordionPanelTabOpen p,#u1123-4.AccordionPanelTabOpen p,#u1123-4.AccordionPanelTabOpen span,#u1127-4.AccordionPanelTabOpen p
{
	color: #662D91;
	visibility: inherit;
}

#u1125
{
	z-index: 132;
	width: 952px;
	margin-left: 22px;
	margin-top: 18px;
	margin-bottom: 67px;
	position: relative;
}

#u1126-7
{
	z-index: 133;
	width: 340px;
	min-height: 105px;
	color: #662D91;
	position: relative;
	margin-right: -10000px;
}

#u1131-2,#u1131-3,#u1122-2,#u1122-3,#u1126-2,#u1126-3
{
	font-size: 24px;
	text-align: center;
	line-height: 34px;
	font-family: irish-grover, sans-serif;
	font-weight: 400;
}

#u1131-5,#u1122-5,#u1126-5
{
	font-size: 18px;
	line-height: 25px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu1194
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 341px;
}

#u1194
{
	z-index: 140;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u1212-10
{
	z-index: 146;
	width: 119px;
	min-height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 31px;
}

#pu1200
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 559px;
}

#u1200
{
	z-index: 142;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u1213-10
{
	z-index: 156;
	width: 160px;
	min-height: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 14px;
}

#pu1206
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 772px;
}

#u1206
{
	z-index: 144;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u1230-10
{
	z-index: 166;
	width: 156px;
	min-height: 145px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 10px;
}

#u1158-2,#u1158-8,#u1159-2,#u1159-8,#u1160-2,#u1160-8,#u1191-2,#u1191-8,#u1193-8,#u1212-2,#u1212-8,#u1213-2,#u1213-8,#u1230-2,#u1230-8
{
	text-align: center;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u235
{
	z-index: 14;
	width: 1160px;
	margin-bottom: -43px;
	margin-right: -10000px;
	margin-top: 762px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -761px;
}

