body{
    margin:0;
}

#top-section{
    
    padding: 10px;
    background-color: rgb(21,31,60);
    width:100%;
}

#top-section a{
    color:white;
    text-decoration: none;
    margin:10px;
    
}



div.row.row-eq-height{
    margin-top: 0;
}

.img-box>img{
    width:100%;
}
#navigation{
    background-color:rgb(21,31,60);
    list-style: none;
    color: white;
    display:inline-block;
    width:100%;
    margin-bottom: 0;
}



#logo{
    float: left;
   /*background-color:rgb(40,32,92);*/
}

#logo-mobile{
    display: none;
}

.container-fluid{
    margin-top: 0;
}

a.about{
    color:rgb(25,147,193); ;
}

#mission-history{
    
    margin-top: 0;
}

nav a{
    color:white;
    text-decoration: none;
    
}

 nav>ul>li{
    float: right;
    list-style: none;
     margin: 5x;
     margin-bottom: 0;
    color: white;
    text-decoration: none;
     
}

img{
  max-width:100%;
  height: auto;
}


nav{
  width:100%;
  height:50px;
  margin: 0 auto;
  overflow:hidden;
}

ul {
  list-style: none;
  padding: 0;
}
nav li {
  float: left;
  height: 75px;

  padding: 0 20px;
 
}
.navbar{
    height: auto;
    margin-bottom: 0;
    clear: both;
    right: 0;
}

.container-fluid>#content{
    
    display: inline;
    margin-top: 0;
    padding: 0;
}

#mission{
    
    background-color: rgb(21,31,60);
    color: white;
    height: 100%;
    margin-top: 0;
}

#sub-menu{
    
    margin: 10px;
    
}

#menu-section{
    background-color: rgb(21,31,60);
}

/*drop down menu*/


.dropbtn {
    background-color: rgb(21,31,60);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(21,31,60);
}


.dropdown {
    position: relative;
    display: inline-block;
    float:right;
    display:none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.show {display:block;}

/*end of drop down*/

/*sub menu*/

 #accordion .glyphicon { margin-right:10px; }
      .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
      .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}



/*end of sub menu*/



/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}

#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

img.icons{
    width:40px;
    height: 40px;
    margin: 10px;
}

div.social-media {
    
    text-align: center; 
}
footer{
    background-color: rgb(21,31,60);
    color: white;
    font-size:8pt;
    padding: 10px;
    width: 100%;
    border-top:2px solid rgb(21,31,60); 
}

footer ul a,h5{
    
    color: white;
    text-align: center;
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 10px;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    
    #reviews{
        
        margin:10px;
        
    }
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
    
    
}

@media(max-width:1000px){
    
    .navbar{
        display:none;
    }
    
    .dropdown{
        
        display: block;
        margin:10px;
    }
 
    #logo-mobile{
        display: block;
        float: left;
        height:100px;
        width:auto;
        margin:10px;
    }
    
    
}

